.example-card {
  width: 400px;
  height: 400px;
  background-color: #5dc794;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mat-card-title {
  font-size: 28px;
}
.mat-card-subtitle {
  color: #fff;
}
.card-text {
  height: 100px;
  padding: 10px;
  background-color: #fff;
  color: #a7a4a4;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.mat-card-header {
  flex-direction: column;
}

.card-button {
  width: 100%;
  text-align: center;
  color: #fff;
  background-color: #6dd3a2;
  border: 2px #fff solid;
}
