<mat-nav-list>
  <div class="logo py-4">
    <h1 alt="Company Logo" style="color: #fff">Project Manager</h1>
  </div>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
    <p>Home</p>
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
    <p>Dashboard</p>
  </a>
  <a mat-list-item routerLinkActive="list-item-active">
    <p>Chat</p>
  </a>
  <a mat-list-item routerLinkActive="list-item-active"> <p>Tasks</p> </a>
  <a mat-list-item routerLinkActive="list-item-active"> <p>File Manager</p> </a>
  <a mat-list-item routerLinkActive="list-item-active"> <p>Calendar</p> </a>
</mat-nav-list>
