:host {
  .mat-icon {
    vertical-align: middle;
    margin-right: 1rem;
  }
}
.logo {
  text-align: center;
  padding: 2.6rem 1rem;
  img {
    width: 200px;
  }
}
.mat-divider {
  border-top-width: 2px;
  border-color: white;
}

.mat-list-item:hover,
.mat-list-item:active {
  background-color: #5dc794;
}

.mat-list-item {
  display: flex;
  font-size: 0.8rem;
  height: 44px !important;
  margin-bottom: 4px;
  ::ng-deep {
    .mat-list-item-content {
      transition: ease-in-out 0.2s;
      p {
        font-size: 20px;
        text-align: end;
        width: 100%;
        margin-bottom: 0;
        font-weight: 700;
      }

      background: rgb(255, 255, 255) !important;
      transform: translateX(-50px);
      color: #5dc794;
      border-radius: 5px;
      margin: 0 8px;
      &:hover {
        transform: translateX(-20px);
        background: rgb(255, 255, 255) !important;
      }
    }
  }
}
.list-item-active {
  ::ng-deep {
    .mat-list-item-content {
      background: rgb(255, 255, 255) !important;
      transform: translateX(-20px);
    }
  }
}
