.page {
  color: white;
  padding: 0 1rem;
  background: #f1f5f9;
  &__box {
    min-height: 120px;
    background: #5dc794df;
    margin: 0 -1rem;
    font-size: 36px;
  }
  &__content {
    min-height: calc(100vh - 178px);
    border-radius: 10px;
    margin-top: -2rem;
    background: #c8c8c8;
    color: black;
    font-size: 2rem;
    &-data {
      padding: 50px;
      // top: 50%;
      // left: 50%;
      // transform: translate(-50%, -50%);
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
      // justify-content: space-between;
      width: 100%;
    }
  }
}
